.center {
  margin:0 auto;
  max-width:50em;
  line-height: 1.5;
  padding: 4em 1em;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre{
  padding:1em;
}

header {
  background-color: #263d36;
  /*background-image: url('header.png');*/
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}
img {
  max-width: 50em;
  margin: 0 auto;
}
