{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'technical_blog_static/css/custom.css' %}"/>
    <script type="text/javascript" src="{% static 'technical_blog_static/js/blog.js' %}"></script>
    <title>Technical blog</title>
</head>
<body>
  <div class="row" style="padding:20px;">
    <div class="col-sm-2">
      <center>
        <img src="{% static 'technical_blog_static/images/tech_me.jpg' %}" alt="profile" style="max-height:100px;" class="responsive-img">
      </center>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-2">
      <div class="bs-sidebar" id="sidebar" style="background-color:#fff">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="post container-fluid">
      {% block content %}
      {% endblock %}
      </div>
    </div>
  </div>
</nav>
</body>
</html>
